<!DOCTYPE HTML>
<html ng-app="appDepartamento">
<head>
<meta charset="UTF-8"/>
    <title>Getting Started: Serving Web Content</title>
    
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="./js/app.js"></script>
    
</head>
<body ng-controller="indexController">
    
    
    
    <input type="text" ng-model="departamento.id"/> 
    <input type="text" ng-model="departamento.nome"/>
    
    
    <input type="button" value="Salvar" ng-click="addDpto() id="salvar"/>
 	<input type="button" value="Salvar" ng-click="addDpto() id="editar"/>
    <input type="button" value="Excluir" ng-click="deleteDpto()"/>
    
    <br> </br>
    
    
    <div ng-repeat="dpto in departamentos">
    	{{"id: "+ dpto.id + " nome: "+dpto.nome}}
    	<input type="button" value="Alterar" ng-click="editarDpto(dpto)"/><br></br>
	    
    </div>     
</body>
</html>